In [11]:
# Importing dependencies 

import pandas as pd
import numpy as np

In [16]:
# Import dataset for analysis 

earthquake_data = pd.read_csv("data/earthquake_query.csv")
earthquake_data.head(10)

,date,datetime,latitude,longitude,depth,mag,magType,nst,gap,dmin,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,1/28/20,2020-01-28T19:10:24.922Z,19.4210,-78.762700,14.80,7.7,mww,NaN,26.0,1.66300,...,2020-02-09T04:07:20.128Z,"124km NNW of Lucea, Jamaica",earthquake,6.20,3.00,0.022,199.0,reviewed,us,us
1,11/14/19,2019-11-14T16:17:40.578Z,1.6213,126.415600,33.00,7.1,mww,NaN,11.0,1.27100,...,2020-02-07T20:20:55.040Z,"138km E of Bitung, Indonesia",earthquake,6.10,1.70,0.036,75.0,reviewed,us,us
2,7/14/19,2019-07-14T09:10:51.523Z,-0.5858,128.034000,18.98,7.2,mww,NaN,38.0,1.50400,...,2019-09-28T20:01:20.040Z,"93km NNE of Laiwui, Indonesia",earthquake,7.30,3.40,0.049,40.0,reviewed,us,us
3,7/6/19,2019-07-06T03:19:53.040Z,35.7695,-117.599333,8.00,7.1,mw,77.0,43.0,0.04616,...,2020-02-09T22:47:23.853Z,2019 Ridgecrest Earthquake Sequence,earthquake,0.19,31.61,NaN,0.0,reviewed,ci,ci
4,6/24/19,2019-06-24T02:53:39.830Z,-6.4078,129.169200,212.00,7.3,mww,NaN,16.0,2.62900,...,2019-09-11T15:19:40.040Z,"292km NW of Saumlaki, Indonesia",earthquake,5.10,1.80,0.045,48.0,reviewed,us,us
5,6/15/19,2019-06-15T22:55:04.130Z,-30.6441,-178.099500,46.00,7.3,mww,NaN,11.0,1.40200,...,2019-09-06T14:25:11.040Z,"116km NE of L'Esperance Rock, New Zealand",earthquake,9.10,1.80,0.029,113.0,reviewed,us,us
6,5/26/19,2019-05-26T07:41:15.073Z,-5.8119,-75.269700,122.57,8.0,mww,NaN,17.0,3.18000,...,2019-12-10T23:56:09.430Z,"78km SE of Lagunas, Peru",earthquake,7.00,4.00,0.036,75.0,reviewed,us,us
7,5/14/19,2019-05-14T12:58:25.939Z,-4.0510,152.596700,10.00,7.6,mww,NaN,16.0,0.45300,...,2020-01-29T07:43:54.161Z,"46km SSE of Namatanai, Papua New Guinea",earthquake,3.80,1.60,0.046,45.0,reviewed,us,us
8,5/6/19,2019-05-06T21:19:37.983Z,-6.9746,146.449400,146.00,7.1,mww,NaN,16.0,2.51400,...,2019-07-25T18:54:27.040Z,"33km NW of Bulolo, Papua New Guinea",earthquake,6.60,1.60,0.032,93.0,reviewed,us,us
9,3/1/19,2019-03-01T08:50:42.591Z,-14.7131,-70.154600,267.00,7.0,mww,NaN,42.0,2.50100,...,2019-05-14T18:36:14.040Z,"23km NNE of Azangaro, Peru",earthquake,7.60,1.90,0.033,87.0,reviewed,us,us

In [17]:
tsunami_data = pd.read_csv("data/Tsunami_Events.csv", skiprows=1)
tsunami_data.head(10)

,Date,Year,Month,Day,Hour,Min,Sec,Val,Code,Earthquake Code,...,Injuries Approx,Damage in $Millions,Damage Approx,House Destroyed Total,House Destroyed Approx,Houses Damaged Total,Houses Damaged Approx,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,1920-01-29,1920,1.0,29.0,NaN,NaN,NaN,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1920-02-02,1920,2.0,2.0,11.0,22.0,18.0,1,1,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1920-08-20,1920,8.0,20.0,16.0,15.0,38.0,3,1,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1920-08-,1920,8.0,NaN,NaN,NaN,NaN,-1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1920-09-20,1920,9.0,20.0,14.0,39.0,NaN,3,1,7.8,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1920-12-16,1920,12.0,16.0,12.0,5.0,53.0,0,1,7.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1920-12-18,1920,12.0,18.0,2.0,1.0,57.0,1,1,5.6,...,NaN,NaN,3.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN
7,1921-05-14,1921,5.0,14.0,11.0,17.0,45.0,2,1,6.2,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1921-8-4,1921,8.0,4.0,NaN,NaN,NaN,3,1,NaN,...,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
9,1921-09-11,1921,9.0,11.0,4.0,1.0,38.0,4,1,7.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN